language: node_js
node_js:
- '6'
- '8'
- '10'
cache:
  directories:
  - node_modules
sudo: false
script: npm run default
env:
  - NODE_ENV=production
notifications:
  slack:
    secure: Z+kV8Q/rDT7AubCvmB8sQGcoBYpM3pRTALhYoi0eZKYtSsqzn0EPdOT7B0zG+UZ7smooDRjdSy+ba1KCbOCKfq4Q/Rov3v3qQdoASmseLRpniz/Lr2sJZtq5h3NXT0MTId+E1TzZZh2eokzXc7inP4ZOxEkoXPTclDqQA6A8JUA=
