body {
  padding: 5rem 0;
}

canvas {
  width: 100%;
  height: auto;
}

audio {
  width:100%;
}

.key-item {
  font-size: small;
  text-align: center;
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
}

.key-color {
  border: 1px solid;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.key-text {
  display: inline-block;
  vertical-align: middle;
}

.key-color.pink {
  background-color: #ff00ff;
}

.key-color.yellow {
  background-color: #ffff00;
}

.key-color.blue {
  background-color: #0000ff;
}

div#legend {
  text-align: center;
  vertical-align: middle;
}

#showcase #chroma::before {
  content: 'Chroma bands:';
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

#showcase #chroma {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase .chroma-band {
  flex: 0 1 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  font-size: 10px;
  color: #ffffff;
}

#showcase #mfcc::before {
  content: 'MFCC bands:';
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

#showcase #mfcc {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase .mfcc-band {
  flex: 0 1 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  font-size: 10px;
  color: #ffffff;
}

#title-link {
  color:inherit;
}

#title-link:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}
